<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap" class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="pull-right col-lg-8 col-md-8 col-sm-8 col-xs-12 flex-center main-box">
        <section id="main" class="col-lg-10 col-md-8 col-sm-12 col-xs-12"><%- body %></section>
      </div>
      <div id="footer-mp" class="hidden-lg hidden-md hidden-sm">
        <div class="head-img"></div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <div style="clear: both"></div>
    </div>
    <!-- <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    <% } %> -->
    <!-- <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %> -->
    <%- partial('_partial/after-footer') %>
    
  </div>
</body>
<script>

var windowWidth = $(window).width();

if (windowWidth > 768) {
  var $mainBox = document.querySelector('.main-box');
  var $wrap = document.querySelector('#wrap');
  var $article = document.getElementById('main').getElementsByTagName('article');
  var articleNum = $article.length;
  var widgetWrapNum = document.getElementById('main').getElementsByClassName('widget-wrap').length;
  var windowHeight = $(window).height();
  var scrollHeight = articleNum>0? $article[0].scrollHeight : windowHeight;
  if ((articleNum < 3 && (scrollHeight < windowHeight)) || widgetWrapNum > 0 ) {
    $mainBox.className += " flex-center-c";
    $wrap.style.height = "100%";
  } else {
    $wrap.style.height = "auto";
  }
}

</script>
</html>