<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div id="footer-info">
      Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br/><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>&nbsp;<%= __('theme_by') %> <a href="https://github.com/wangcch/hexo-theme-tydeus" target="_blank">Tydeus</a>
  </div>
</footer>