<header id="header" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
  <div class="head-mp hidden-lg hidden-md hidden-sm">
    <h1><a href="<%- url_for() %>"><%= config.demon %>'Blog</a>&nbsp;<small>dev</small></h1>
    <div class="head-nav-toggle fas fa-bars">M</div>
  </div>
  <h1 class="hidden-xs"><a href="<%- url_for() %>"><%= config.demon %>'Blog</a>&nbsp;<small>dev</small></h1>
  <p class="intro"><%= theme.subtitle %></p>
  <nav id="head-nav">
    <div class="head-nav-ul">
      <% for (var i in theme.menu){ %>
        <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } %>
    </div>
  </nav>
  <div class="hidden-xs">
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <div class="head-img hidden-xs"></div>
</header>
<script>
// nav button
var $toggle = document.querySelector('.head-nav-toggle');
var $navlist = document.querySelector('#head-nav');

$toggle.addEventListener('click', function(e){
  if ($navlist.className.indexOf('head-navlist') > 0) {
    $navlist.className = " ";
    setTimeout(function(){
      if($navlist.className.indexOf('head-navlist') < 0) {
        $navlist.style.height = "0px"
      }
    },400)
  }else{
    $navlist.style.height = "auto"
    $navlist.className += " head-navlist";
  }
})
</script>